<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	$(function() {
        $('#nav li a').click(function() {
           $('#nav li').removeClass();
           $($(this).attr('href')).addClass('active');
        });
     });
</script>
</head>
<body>

    		<div class="wrapper">

    			<div class="container">

    				<nav role="navigation" class="navbar navbar-inverse navbar-embossed navbar-lg navbar-fixed-top">

    					<div class="container">

    						<div class="navbar-header">
    							<button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
    								<span class="sr-only">Toggle navigation</span>
    							</button>
    							<a href="/teachers/subject" class="navbar-brand brand"> PROFE </a>
   							</div>

    						<div id="navbar-collapse-02" class="collapse navbar-collapse">
    							<ul class="nav navbar-nav" id="nav">
    								<li ><a href="/copo/po">VIEW POS</a></li>
									<li ><a href="/copo/index/">VIEW COS</a></li>
									<li ><a href="/copo/addCOAtd">MAP CO</a></li>
									<li ><a href="/copo/finalCO">ATTAINMENT OF CO</a></li>
									<li ><a href="/copo/mapCOPO">ATTAINMENT OF PO</a></li>
									<li ><a href="/copo/selectCORange/">EACH STUDENTS ATTAINMENT</a></li>
									<li class="active "><a href="/teachers/studentDB">STUDENT DB</a></li>
    							</ul>
    							<ul class="nav navbar-nav navbar-right">
    								<li class="propClone">
    									<a href="{% url 'teachers:login' %}">LOG OUT <span class="fa fa-lock"></span></a>
    								</li>
    							</ul>
    						</div><!-- /.navbar-collapse -->

    					</div><!-- /.container -->

    				</nav>

    				<!-- /.row -->

    			</div><!-- /.container -->

    		</div><!-- /.wrapper -->

<br><br><br> <br><br>
            {% block body %}
            {% endblock %}
</body>
</html>