<script type="text/javascript">
   function logProductInfo() {
   alert('{{ wks }} ');
}


</script>

<iframe src="https://docs.google.com/spreadsheets/d/1a27LCrwpxhsws3TNIFYQAIoYrD5ZSWiadjXf_6vxED4/edit?usp=sharing" height="500" width="1000" frameborder="1px"> </iframe>
<br><br>
<input type="submit" onclick="logProductInfo()" />

{% if error_message %}
    <p><strong> {{ error_message }} </strong> </p>
{% endif %}
<br><br>
refresh to save data

<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>



    	<div class="item content" id="content_section1">

    		<div class="container">

    			<div class="row">

    				<div class="col-md-6">

    					<div class="editContent">
    					<h3>Aenean varius lorem at dui condimentum</h3>

    					<p>
    						Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in. Praesent pellentesque neque nec eros tempus, ac venenatis ante interdum. Vivamus viverra est dolor, non placerat nunc commodo sed
    					</p>

    					<p>
    						Nam commodo elit at enim congue commodo vel viverra enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec gravida aliquam fringilla.
    					</p>
    					</div>

    					<p>
    						<a href="" class="btn btn-primary btn-embossed btn-wide"><span class="fa fa-cloud-upload"></span> Now Do Something!</a>
    						<a href="" class="btn btn-info btn-embossed btn-wide"><span class="fa fa-check"></span> Now Do Something!</a>
    					</p>

    				</div>

    				<div class="col-md-6">

    					<br>

    					<div class="videoWrapper">
    						<iframe src="//player.vimeo.com/video/92205016?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    						<div class="frameCover" data-type="video"></div>
    					</div>

    				</div>

    			</div>

    		</div>

    	</div>



    	<header class="item header margin-top-0 padding-bottom-0" id="header5">

    		<div class="wrapper">

    			<div class="container">

    				<nav role="navigation" class="navbar navbar-inverse navbar-embossed navbar-lg navbar-fixed-top">

    					<div class="container">

    						<div class="navbar-header">
    							<button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
    								<span class="sr-only">Toggle navigation</span>
    							</button>
    							<a href="#" class="navbar-brand brand"> HTML Builder</a>
   							</div>

    						<div id="navbar-collapse-02" class="collapse navbar-collapse">
    							<ul class="nav navbar-nav">
    								<li class="active propClone"><a href="#">Home</a></li>
    								<li class="propClone"><a href="#">Work</a></li>
    								<li class="propClone"><a href="#">Blog</a></li>
    								<li class="propClone"><a href="#">Contact</a></li>
    							</ul>
    							<ul class="nav navbar-nav navbar-right">
    								<li class="propClone">
    									<a href="#">Login <span class="fa fa-lock"></span></a>
    								</li>
    							</ul>
    						</div>

    					</div>

    				</nav>

    				<div class="row banner">

    					<div class="col-md-12">

    						<h1 class="text-center margin-top-100 editContent">
    							Use <b>HTML Builder</b> to drag and drop your way
    							<br>
    							to a beautiful and functional site!
    						</h1>

    						<div class="text-center">
    							<img src="images/image1.png" alt="Image 1">
    						</div>

    					</div>

    				</div>

    			</div>

    		</div>

    	</header>



    	<div class="item team" id="team3">

    		<div class="container">

    			<div class="row margin-bottom-40">

    				<div class="col-md-12">

    					<p class="lead text-center">
    						We're awesome - get to know us better!
    					</p>

    				</div>

    			</div>

    			<div class="row margin-bottom-20">

    				<div class="col-md-10 col-md-offset-1">

    					<div class="row margin-bottom-40">

    						<div class="col-md-6 clearfix">

    							<div class="pull-left photo">

    								<img src="images/team1.jpg" class="img-circle" alt="">

    							</div>

    							<div class="pull-left about">

    								<h5>Mattijs Naus</h5>

    								<p>
    									Web developer, designer, lover of cigars and fine whisky
    								</p>

    								<p class="contacts">
    									<span class="fa fa-envelope"></span> <a href="mailto">mattijs@somewhere.com</a><br>
    									<span class="fa fa-globe"></span> <a href="">www.somewhere.com</a>
    								</p>

    								<p class="social">
    									<a href=""><span class="fa fa-facebook-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-twitter-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-linkedin-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-google-plus-square"></span></a>
    								</p>

    							</div>

    						</div>

    						<div class="col-md-6 clearfix">

    							<div class="pull-left photo">

    								<img src="images/team1.jpg" class="img-circle" alt="">

    							</div>

    							<div class="pull-left about">

    								<h5>Mattijs Naus</h5>

    								<p>
    									Web developer, designer, lover of cigars and fine whisky
    								</p>

    								<p class="contacts">
    									<span class="fa fa-envelope"></span> <a href="mailto">mattijs@somewhere.com</a><br>
    									<span class="fa fa-globe"></span> <a href="">www.somewhere.com</a>
    								</p>

    								<p class="social">
    									<a href=""><span class="fa fa-facebook-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-twitter-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-linkedin-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-google-plus-square"></span></a>
    								</p>

    							</div>

    						</div>

    					</div>

    					<div class="row margin-bottom-40">

    						<div class="col-md-6 clearfix">

    							<div class="pull-left photo">

    								<img src="images/team1.jpg" class="img-circle" alt="">

    							</div>

    							<div class="pull-left about">

    								<h5>Mattijs Naus</h5>

    								<p>
    									Web developer, designer, lover of cigars and fine whisky
    								</p>

    								<p class="contacts">
    									<span class="fui-mail"></span> <a href="mailto">mattijs@somewhere.com</a><br>
    									<span class="fui-home"></span> <a href="">www.somewhere.com</a>
    								</p>

    								<p class="social">
    									<a href=""><span class="fa fa-facebook-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-twitter-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-linkedin-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-google-plus-square"></span></a>
    								</p>

    							</div>

    						</div>

    						<div class="col-md-6 clearfix">

    							<div class="pull-left photo">

    								<img src="images/team1.jpg" class="img-circle" alt="">

    							</div>

    							<div class="pull-left about">

    								<h5>Mattijs Naus</h5>

    								<p>
    									Web developer, designer, lover of cigars and fine whisky
    								</p>

    								<p class="contacts">
    									<span class="fui-mail"></span> <a href="mailto">mattijs@somewhere.com</a><br>
    									<span class="fui-home"></span> <a href="">www.somewhere.com</a>
    								</p>

    								<p class="social">
    									<a href=""><span class="fa fa-facebook-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-twitter-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-linkedin-square"></span></a>&nbsp;&nbsp;
    									<a href=""><span class="fa fa-google-plus-square"></span></a>
    								</p>

    							</div>

    						</div>

    					</div>

    				</div>

    			</div>
    		</div>

    	</div>



</body>  -->
