{% extends 'teachers/base.html' %}

{% block body %}
<div  style="margin-left: 30px;">
 <style>
        th, td {
    padding: 10px;
    text-align: left;
    font-family: TimesNewRoman;
    font-size: 17px;
}
tr:hover {
  background-color: #ffa;
}

    </style>
<CENTER>
<table border="2">
    <tr>
        <th> Co_no </th>
    <th> Description </th>
    <th>Bloom Level</th>
    <th>  PO1</th>
    <th> PO2</th>
    <th>  PO3</th>
    <th> PO4 </th>
    <th>  PO5</th>
    <th> PO6</th>
    </tr>
    {% for s in sh%}
    <tr>
    <td>   {{s.co_no}} </td>
    <td>  {{s.description}} </td>
    <td>  {{s.bloomlevel}} &nbsp; </td>
    <td>   {{s.po1}} </td>
    <td>   {{s.po2}} </td>
    <td>   {{s.po3}} </td>
    <td>  {{s.po4}} </td>
    <td>  {{s.po5}} </td>
    <td>   {{s.po6}} </td>
    </tr>
    {% endfor %}
</table>

</div>
{% endblock %}