
{% load getattribute %}

<style>
    table.one {
    float: left;
    display: inline-block;
}

table.two   {
    float: left;
    display: inline-block;
}​
        th, td {
    padding: 15px;
    text-align: left;

}
tr:hover {
  background-color: #ffa;
}

</style>

<table class="one" border="1">
    <tr>
        <th> &nbsp; Student Name &nbsp; &nbsp;</th>
        {%      for u in a %}
        <th> &nbsp;
            {{ u.atd }}
            &nbsp;
        </th>
        {%      endfor %}

    </tr>


    {%     for b in S %}
    <tr>
        <td> &nbsp;
        {{ b.student_name }} &nbsp;
    </td>

    {%      for u in a %}
        <td> &nbsp; &nbsp;
            {{ b|getattribute:u.atd }}
       </td>

        {%      endfor %}

</tr>
    {%      endfor %}

</table>

<table class="two" border="1">
    <tr><th> &nbsp; Total % in CO </th></tr>
    {%     for i in total %}
    <tr>
        <td>
&nbsp; &nbsp; &nbsp; &nbsp;
            {{ i }}

        </td>
    </tr>{%      endfor %}
</table>


