
{% load getattribute %}

<style>
    table.one {
    float: left;
    display: inline-block;
}

table.two   {
    float: left;
    display: inline-block;
}​
</style>
<table class="one" border="2">
    <tr>
        <th> Student Name</th>
        {%      for u in a %}
        <th>
            {{ u.atd }}
        </th>
        {%      endfor %}

    </tr>


    {%     for b in S %}
    <tr>
        <td>
        {{ b.student_name }}
    </td>

    {%      for u in a %}
        <td>
            {{ b|getattribute:u.atd }}
       </td>

        {%      endfor %}

</tr>
    {%      endfor %}

</table>

<table class="two" border="2">
    <tr><th>Total % in CO</th></tr>
    {%     for i in total %}
    <tr>
        <td>

            {{ i }}

        </td>
    </tr>{%      endfor %}
</table>